body {
    background-image: url(./imsgens/FundoSITE.png);
    color: white;
    text-align: center;
    margin-top: 180px;
}

h1 {
    padding-bottom: 50px;
    font-size:60px;
}


#numberX {
    border-radius:10px;
    border: none;
    background-color:rgb(201, 179, 211) ;
    text-transform:uppercase ;
    color:white;
    font-weight: bold;
    font-size: 18px;
    font-style: italic;
    margin-bottom: 16px;
    padding: 10px;
    margin: 16px;
    text-align: center;
}
#numberY {
    border-radius:10px;
    border: none;
    background-color :rgb(201, 179, 211);
    color:white;
    text-transform:uppercase ;
    font-weight: bold;
    font-size: 18px;
    font-style: italic;
    margin-bottom: 16px;
    padding: 10px;
    margin: 16px;
    text-align: center;
}
button {
    background-color: rgb(201, 179, 211);
    border-radius:10px;
    border: none;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    font-style: italic;
    cursor: pointer;
    padding-bottom: auto;
    margin: 16px;
}

button:hover {
    background-color: rgb(22, 151, 123);
}

.sucess-message {
    text-align: center;
    justify-content: center;
    margin: 20px;
    font-size: 30px;
}

.errorMessage {
    text-align: center;
    justify-content: center;
    margin: 20px;
    font-size: 30px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}